html,body {
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

.content {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.merchant {
	height: 99%;
	animation: spin 4s linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
